---
import { userData } from "@utils/constants";
import { Icon } from "astro-icon/components";

const { firstName, lastName, links } = userData;
---

<div class="navbar flex-col sm:flex-row">
  <div class="flex justify-between items-center flex-1 w-full">
    <a href="/" class="btn btn-ghost text-xl">{firstName + " " + lastName}</a>
    <label class="flex cursor-pointer gap-2 items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg
      >
      <input type="checkbox" class="toggle theme-controller" />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><circle cx="12" cy="12" r="5"></circle><path
          d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"
        ></path></svg
      >
    </label>
  </div>
  <ul class="menu menu-horizontal px-1 py-0 h-full text-md font-bold">
    <li><a href={"/"}>About</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li>
      <a target="_blank" href={links.github}>
        <span>Github</span>
        <Icon name="flowbite:arrow-up-right-from-square-outline" size={12} />
      </a>
    </li>
  </ul>
</div>
<style>
  .navbar {
    max-width: var(--maxWidth);
    margin: auto;
  }
</style>
<script>
  const theme = document.documentElement.getAttribute("data-theme");
  const controller =
    document.querySelector<HTMLInputElement>(".theme-controller");
  controller?.addEventListener("change", ({ target }) => {
    if (target instanceof HTMLInputElement) {
      if (target.checked) {
        document.documentElement.setAttribute("data-theme", "light");
        localStorage.setItem("theme", "light");
      } else {
        document.documentElement.setAttribute("data-theme", "dark");
        localStorage.setItem("theme", "dark");
      }
    }
  });
  if (controller) controller.checked = theme === "light";
</script>
